.vote {
    position: relative;
    .votes {
        font-size: 2em;
        &.selected {
            // TOTEST: solo colore di prova
            color: $red;
        }
    }

    .vote-label {
        font-size: .8em;
        position: absolute;
        bottom: -1em;
        text-transform: uppercase;
    }

    .star {
        text-shadow: 1px 1px 1px #000;
        &.empty {
            // TOTEST
            color: inherit;
        }
        &.filled {
            // TOTEST;
            color: $red;
        }
    }
}