.braintree-sheet {
    font-family: $primary_font !important;
    font-weight: 200;
    background-color: rgb(60, 60, 60);
}

.braintree-sheet__text,
.braintree-form__label {
    font-family: $primary_font !important;
    font-weight: 200 !important;
    color: rgb(220, 220, 220) !important;
}

.braintree-sheet__header {
    background-color: rgb(40, 40, 40);
    
    .braintree-sheet__text {
        font-weight: 400 !important;
    }
}