.braintree-sheet {
    font-family: $primary_font !important;
    font-weight: 200 !important;
    color: rgb(220, 220, 220) !important;
    background-color: rgb(80, 80, 80);
}

.braintree-sheet__text,
.braintree-form__label {
    font-family: $primary_font !important;
    font-weight: 200 !important;
    color: rgb(220, 220, 220) !important;
}

#payment-form {

    form {

        input.number,
        input.expirationDate,
        input.cvv {

            color: rgb(220, 220, 220) !important;
            &:focus {
                color: rgb(220, 220, 220) !important;
            }
        }
    }
}



// input.number {
//     font-family: $primary_font !important;
//     font-weight: 200 !important;
//     color: rgb(220, 220, 220) !important;
// }
