// CATEGORIES
.cat-card {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border: 0;
}

.cat-header {
    padding: .5em;
    border-radius: .25em;
    background-color: rgba(20,20,20,0.6);
}
