// COMMON
/* =============
    COLORS
   ============= */

// TO REMOVE -> grandezza icone categoria
.cat-icon-container {
    // height: 25px;

    img {
        height: 25px;
        width: auto;
    }
}

.text-white {
    color: white;
}

.c-1 {
    color: $c-1;
}

// TEST
main {
    // TEST
    margin-top: 70px;
    background: rgb(173,219,199);
    background: linear-gradient(360deg, rgba(173,219,199,0.9023984593837535) 0%, rgba(223,231,236,0.8743872549019608) 0%);
}

input, select {
    outline: none;
}

.zoom {
    &:hover {
        transform: scale(107%);
    }
}

.rel {
    position: relative;
}

.no-decorations {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}