// COMMON
input, select {
    outline: none;
}

.zoom {
    &:hover {
        transform: scale(107%);
    }
}

.no-decorations {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}