// COMMON
body {
    color: rgb(220, 220, 220);
    background-color: rgb(20, 20, 20);
    font-family: $primary_font;
}

main {
    min-height: 100vh;
}

// TO REMOVE -> grandezza icone categoria
.cat-icon-container {
    // height: 25px;

    img {
        height: 25px;
        width: auto;
    }
}

.text-white {
    color: white;
}

.c-1 {
    color: $c-1;
}

// TEST
// fake main
.top-margine {
    // TEST
    padding-top: 100px;
    padding-bottom: 50px;
}

input, select {
    outline: none;
}

.zoom {
    &:hover {
        transform: scale(107%);
    }
}

.rel {
    position: relative;
}

.no-decorations {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.cat-box {
    background-color: rgb(226, 226, 226);
    &.selected {
        background-color:rgb(20, 20, 20);
    }
}

.btn-custom-danger {
    background-color: rgb(214, 22, 70);
}

.btn-custom-success {
    background-color: #4e8c8c;
}

// Category List Title
.cat-list-title {
    font-family: $primary_font;
    font-weight: 200;
    color: white;
    // TOTEST
    line-height: 200px;
}