// DASHBOARD
.dashboard {

    .dash-list {
        padding-top: 10px;
    }

    .dash-link {
        text-decoration: none;
        padding-bottom: 20px;
    }
}

.profile-img-dashboard-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.profile-img-dashboard {
    max-height: 120px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-icon {
    font-size: 20px;
}