// DASHBOARD
.dashboard {

    padding: 20px 0;

    .dash-list {
        padding-top: 10px;
        border-bottom: 1px solid #dee2e6;
        justify-content: space-between;
    }
    .dash-link {
        text-decoration: none;
        padding-bottom: 30px;
        border-bottom: 2px solid #f8fafc;

        &:hover {
            border-bottom: 2px solid $blue;
        }
    }

    .hover-blue {
        text-decoration: none;
        color: #212529;
        
        &:hover {
            text-decoration: none;
            color: $blue;
        }
    }
}