// FOOTER
footer {
    color: white;

    .bg-footer {
        background: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5%;
    }

    .inner {
        padding: 1% 6%;
        padding-top: 6%;
    }
    .flex-son {
        flex: 33%;
        margin: 0 50px;

        h4 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 45px;
            text-transform: uppercase;
        }
        p {
            line-height: 1.8em;
            font-size: 15px;
            letter-spacing: 2px;
            color: lightgrey;
        }

        .category-links {
            padding: 0 15px;
        }

        .social-icons i{
            margin-right: 15px;
            margin-top: 20px;
            color: lightgrey;
            cursor: pointer;
        }

        li {
            list-style-type: none;
            margin: 20px 0;
            color: lightgrey;
            font-size: 14px;
            cursor: pointer;
        }
    
    }

    .copyright {
        text-align: center;
        margin-top: 5%;
        font-size: 13px;
        color: #868586;
        i {
            font-size: 10px;
            vertical-align: middle;
        }
        span {
            color: white;
        }
    }
}
// END FOOTER

// Fixed
// .fixed-bot {
//     position: fixed;
//     bottom: 0;
//     right: 5%;
//     .chev-box {
//         background-color: rgba( 0, 0, 0, 0.5);
//         padding: 6px 18px;
//         cursor: pointer;
//         border-radius: 5px 5px 0px 0px;
//         a {
//             color: white;
//         }
//     }
// }