// FOOTER
footer {
    color: white;

    img {
        width: 100px;
        margin-bottom: 15px;
    }

    .bg-footer {
        background-image: url('/img/footer-jumbo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .inner {
        padding: 50px 0;
    }
    .flex-son {
        flex: 33%;
        margin: 0 30px;

        h4 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 45px;
            text-transform: uppercase;
        }
        p {
            line-height: 1.8em;
            font-size: 15px;
            letter-spacing: 2px;
            color: lightgrey;
            .text-evident {
                color: white;
                font-weight: 700;
            }
        }

        .category-links {
            padding: 0 15px;
        }
        .categories-ul {
            flex-wrap: wrap;
            .categories-li {
                flex: 50%;
                a {
                    color: #868586;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .social-icons i{
            margin-right: 15px;
            margin-top: 20px;
            color: #868586;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }

        li {
            list-style-type: none;
            margin: 20px 0;
            color: lightgrey;
            font-size: 14px;
            cursor: pointer;
        }

        .contatti {
            line-height: 1.8em;
            font-size: 15px;
            letter-spacing: 2px;
            color: lightgrey;
        }
    
    }

    .copyright {
        text-align: center;
        margin-top: 5%;
        font-size: 13px;
        color: #868586;
        i {
            font-size: 15px;
            vertical-align: middle;
            transform: translateY(-1.5px);
            margin-right: 5px;
        }
        span {
            color: white;
        }
    }
}
// END FOOTER