// HEADER
// Logo
.logo {
    width: 60px;

    img {
        width: 100%;
    }
}

// TODO: Rendere responsive
.nav-link {
    // MOOLTO Provvisorio
    line-height: 50px;
}

.nav-item {
    // MOOOLTO PROVVISORIO
    margin: 0 10px;
}