// HEADER
// Sticky Header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: 0.6s;
    font-family: $header_font;

    .navbar {
        padding: 0;
    }
    
    a {
        color: $white !important;
    }

    nav {
        position: relative;
        transition: 0.6s;
    }

    &.sticky {
        background-color: rgba(0, 0, 0, 1);
        transition: 0.6s;
        
    }

    // Logo
    .logo {
    height: 60px;

    img {
        height: 100%;
    }
}
}

.sticky {
    a {
        color: $white !important;
    }

    img {
        display: block;
    }
}

.nav-link {
    line-height: 50px;
}

.nav-item {
    margin: 0 10px;
}

.navbar-brand {
    padding: 8px 0 3px 0;
}