// HEADER
// Sticky Header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: 0.6s;

    .navbar {
        padding: 0;
    }
    
    a {
        color: white !important;
    }

    nav {
        position: relative;
        transition: 0.6s;
    }

    &.sticky {
        background-color: white;
        transition: 0.6s;
    }

    // Logo
    .logo {
    height: 60px;

    img {
        height: 100%;
    }
}
}

.sticky {
    a {
        color: black !important;
    }

    img {
        display: block;
    }
}

// TODO: Rendere responsive
.nav-link {
    // MOOLTO Provvisorio
    line-height: 50px;

    // TODO da rimuovere
    text-shadow: 2px 2px 12px black;
}

.dropdown-item {
    // TODO da rimuovere
    text-shadow: 2px 2px 12px black;
}

.nav-item {
    // MOOOLTO PROVVISORIO
    margin: 0 10px;
}

.navbar-brand {
    padding: 8px 0 3px 0;
}