// JUMBOTRON
// TODO

// Jumbotron container
.jumbo-container {
    transform: translateY(-1.4rem);
}

.jumbotron {
    background-image: url('/img/jumbotron.jpg');
    background-size: cover;
    padding: 30px 0 90px 0;

    .jumbo-logo {
        width: 40%;
    }
}

.select-category {
    -webkit-appearance: none;
}