// JUMBOTRON
// TODO

.mio-jumbotron {
  // background-image: url('/img/jumbotron.jpg');
  background-color: black;
  background-size: cover;
  background-position: right;
  padding: 90px 0;
  height: 100vh;

  .jumbo-container {
    text-align: center;
    padding-top: 7vh;
  }

  // Animazioni
  .jumbo-logo {
      width: 50%;
      animation-name: cercabardo;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
  }

  .heading-logo {
    padding: 5vh 0;
    color: white;
    animation-name: cercabardo;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  .ricerca {
    text-align: center;
    animation-name: cercabardo;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @keyframes cercabardo {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

}

.select-category {
    -webkit-appearance: none;
}