// JUMBOTRON

.mio-jumbotron {
  background-image: url('/img/welcome/jumbotron.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0;
  height: 100vh;

  .jumbo-container {
    text-align: center;
    padding-top: 7vh;
  }

  // Animazioni
  .jumbo-logo {
    width: 70%;
    padding-bottom: 20px;
    animation-name: logo;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  .heading-logo {
    color: white;
    animation-name: cercabardo;
    animation-duration: 3.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    font-family: $primary_font;
    text-transform: uppercase;
    font-weight: 200;
    text-shadow: 2px 2px 5px black;
  }

  .ricerca {
    text-align: center;
    animation-name: logo;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  .searchbox {
    color: rgb(20, 20, 20);

    .list-group {

      .list-group-item {
        &:hover {
          color: grey;
        }
      }
    }
  }

  @keyframes logo {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes cercabardo {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}

.select-category {
  -webkit-appearance: none;
  background-color: rgb(20, 20, 20);
}

// CATEGORIES JUMBOTRON
.cat-jumbotron {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .title {
    font-family: $primary_font;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 20px 30px;

    h1 {
      font-size: 70px;
      font-weight: 300;
    }
  }

}