// MEDIA QUERIES

/* S */
@media all and ( min-width: 576px ) and ( max-width: 991px ) {
    .xs-container {
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .search-a-bard {
        flex-grow: 0.8;
    }

    .fa-chevron-circle-left,
    .fa-chevron-circle-right {
        display: none;
    }
}

/* XS */
@media all and ( max-width: 575px ) {
    .xs-container {
        flex-direction: column;
    }

    .search-a-bard {
        flex-grow: 1;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .fa-chevron-circle-left,
    .fa-chevron-circle-right {
        display: none;
    }
}