.remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    background: $red;
    color: white;
    font-weight: bolder;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile-preload-img {
    max-height:300px;
}

.profile-badge-category {
    padding: 2px 5px;
}