.service-card {
    padding-bottom: 0;
}

.hourly-rate {
    width: 100px;
}

.delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1.25rem 1.25rem 0;
}

.form-control:disabled, .form-control[readonly] {
    color: rgb(100, 100, 100);
    background-color: rgb(40, 40, 40);

}