.sponsor-title {
    h2 {
        font-size: 45px;
        font-weight: 500;
    }
}

.sponsor-price {
    color: rgb(180, 180, 180);

    h3 {
        font-size: 30px;
        font-weight: 400;
    }

    small {
        font-size: 15px;
        vertical-align: super;
        margin-left: 3px;
    }
}

.sponsor-description {
    color: rgb(180, 180, 180);

    span {
        font-size: 15px;
        font-weight: 400;
    }

    .sponsor-duration {
        color: white;
        font-size: 25px;
        font-weight: 500;
    }
}