.select-category {
    width: 200px;
    height: 35px;
    transform: translateY(+3px);
    padding-left: 15px;
    background-color: black;
    border-radius: 3px;
}

.searchbox {
    width: 220px;
    position: absolute;
    left: 26.75%;
    top: 105%;
    transform: translateX(-50%);
    z-index: 999;
    .li {
        width: 220px;
        background-color: #111;
        border-color: $c-1;
        position: relative;
        padding: 10px;
    }
}
